
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

body {
  background: rgba(3, 169, 244, 0.8);
  background-size: 250% 250%;
}

.grey-text {
  color: #263238;
}

.opac {
  opacity: .2;
}

.opac-semi {
  opacity: .5; 
}

.opac-mild {
  opacity: .75;
}

.grey {
  background: #263238 !important;
  border-color: #455a64 !important;
  color: white !important;
}

.blue {
  background: #03a9f4;
  color: white;
}

.green {
  background: #43a047;
  color: white;
}

.font-20px {
  font-size: 20px;
}

.no-border {
  border: none !important;
}

.navbar-default {
  background-color: #263238;
  border-color: #455a64;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #cfd8dc;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #cfd8dc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #cfd8dc;
  background-color: #455a64;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #cfd8dc;
  background-color: #455a64;
}
.navbar-default .navbar-toggle {
  border-color: #455a64;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #455a64;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #cfd8dc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #cfd8dc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #cfd8dc;
    background-color: #455a64;
  }
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  font-size: 24px;
}

.container-column-no-height {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  font-size: 24px;
}

.container-row {
  display: flex;
  flex: row;
}

.container-row-space {
  display: flex;
  flex: row;
  justify-content: space-around;
}

p {
  font-size: 24px;
}

.anchor {
  color: #212121;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.modal-header {
  display: flex;
  background-color: #263238;
}

.modal-header * {
  color: white;
}

.modal-title{
  flex-grow: 1;
}

.btn-grey {
  background-color: #263238;
  border-color: #263238;
  color: white;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active {
  background-color: #1c2429;
  border-color: #11171a;
  color: white;
}
.btn-grey.disabled:hover,
.btn-grey.disabled:focus,
.btn-grey.disabled:active,
.btn-grey.disabled.active,
.btn-grey[disabled]:hover,
.btn-grey[disabled]:focus,
.btn-grey[disabled]:active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey:hover,
fieldset[disabled] .btn-grey:focus,
fieldset[disabled] .btn-grey:active,
fieldset[disabled] .btn-grey.active {
  background-color: #263238;
  border-color: #263238;
  color: white;
}

.img-size {
  width: 250px;
  height: 250px;
}

.fixed-height {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sorting-arrows {
  display: flex;
  flex-direction: row;
}

.sorting-arrows > i {
  margin-left: 2.5px;
  display: none;
  opacity: 0;
  transition: .2s all;
}

th {
  transition: 0.2s all;
}

th:hover {
  cursor: pointer;
}

th:hover .sorting-arrows > i {
  display: block;
  opacity: 1;
}

.sorting-arrows > i:hover {
  color: red;
}

table {
  overflow-x: scroll;
}


.pagination>li>a,
.pagination>li>span {
  border: 1px solid #455a64;
}
.pagination li > * {
  margin: 0 10px;
}

.pagination li > a {
  background: #455a64;
  color: #fff;
}

.pagination li.active>a {
  background: #263238;
  color: #fff;
}

.pagination>li>a:hover {
  background: #263238;
  color: white;
}

.panel-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 5px 10px !important;
}

*{
  transition: all .7s ease-in-out;
}

a:hover{
    transform: scale(140%);
}