<!DOCTYPE html>
<html>  
  <head>
    <title>Page not found</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <meta charset="UTF-8">
    <meta name="Page not found" content="404 error">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
  </head>
  <body>
    <div class="error-container">
      <img src="/assets/images/404_2.png" alt="Error image">
      <h1 class="ubuntu">Route you have searched for is not available.</h1>
    </div>
  </body>
</html>