<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="<%- title %>" content="<%- contentType %>">
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu" rel="stylesheet">
  <title><%- title %></title>
</head>
<body>
  
  <%- content %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/assets/js/functions.js"></script>
</body>
</html>