<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="<%= model.title %>" content="<% model.content %>">
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <meta name"Description" content="Pony extension for data visualisation">
  <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu" rel="stylesheet">
  <title><%= model.title %></title>
</head>
<body>

  <div id="follower">
    <div class="data"></div>
    <div class="progress"></div>
  </div>
  <div class="container">
    <div class="row">
      <div id="map" class="col-md-12 col-sm-12"></div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-md-12" >
        <div class="panel panel-default no-border">
          <div class="panel-heading grey panel-heading-flex">
            <span class="ubuntu">Routes</span>
            <a id="activate-route-panel" style="color: #593f35;"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
          </div>
          <div class="panel-body ubuntu">
            <div class="row" id="received-data"></div>
            <div id="charts" class="">
              <div>
                <div class="middle"><p>Total distance: <span id="km">9.54km</span></p></div>
                <div class="middle"><p>Overall representation of data</p></div>
                <div id="overall-chart"></div>
              </div>
              <div>
                <div class="middle"><p>Data representation in: <span id="time">11-05-2016</span></p></div>
                <div id="day-by-day-chart"></div>
                <div id="chart-navigation">
                  <a title="Previous date graphic" class="char-buttons" data-change="-1"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                  <a title="Next date graphic" class="char-buttons" data-change="1"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="form-inline row routes">
              <div class="form-group col-lg-4 col-xl-3 col-sm-12 col-xs-12">
                <input type="adress" class="form-control control" placeholder="Enter address">
                <button class="btn btn-brown add-waypoint"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button class="btn btn-brown delete-waypoint"><i class="fa fa-eraser" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="submit-route">
              <div class="form-inline-submit">
                <label for="days">Enter number of days:&nbsp</label>
                <div class="custom-number-input" id="days">
                  <span data-step="1" data-increment="-1"><i class="fa fa-minus" aria-hidden="true"></i></span>
                  <input class="custom-number-input-textbox" type="text" value="142" data-max="1000" data-min="0" readonly id="route-days-ago">
                  <span data-step="1" data-increment="1"><i class="fa fa-plus" aria-hidden="true"></i></span>
                </div>
                <input type="button" value="Submit route" class="btn btn-brown" id="submit-route-btn">
              </div>
              <div class="form-inline-submit">
                <label for="start-date">Start:</label>
                <input name="start-date" type="date" class="get-between-dates" value="2017-03-16">
                <label for="end-date">End:</label>
                <input name="end-date" type="date" class="get-between-dates">
                <input type="button" value="Get data between dates" class="btn btn-brown" id="get-route-between-dates-btn">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ubuntu">
      <div class="col-md-12">
        <div class="form-inline list-filters">
          <div class="form-group">
            <input id="trip-id" type="text" class="form-control" id="" placeholder="Filter by trip id">
          </div>
          <button id="filter" type="button" class="btn btn-brown">Filter</button>
          <button id="undo-filter" type="button" class="btn btn-brown">Undo filter</button>
          <div class="form-group">
            <input id="search-page-textbox" type="text" class="form-control" id="" placeholder="Search page by number in list">
            <button id="search-page" type="button" class="btn btn-brown">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ubuntu" style="width: 100% !important;">
        <div class="panel panel-default no-border rows-in-table">
          <div class="panel-heading grey panel-heading-flex">
            <span class="ubuntu">Rows in table</span>
            <a id="activate-rows-list" style="color: #593f35;"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
          </div>
          <div class="panel-body adjust-table hidden" id="rows-panel-body">
            <div class="list-content table-content">
              <table class="table administrators">
              <tr>
                <th> Index </th>
                <th> Car qnr </th>
                <th> Trip id </th>
                <th> Speed </th>
                <th> Rate </th>
                <th> Lat </th>
                <th> Long </th>
                <th> Timestamp </th>
              </tr>
            </table>
            </div>
          </div>
          <div class="panel-footer">
            <nav aria-label="Changes navigation">
              <ul class="pager">
                <li id="prev"><a class="btn btn-brown" data-min="1" data-increment="-1" title="Previous page">Previous</a></li>
                <li id="next"><a class="btn btn-brown" data-max="" data-increment="1" title="Next page">Next</a></li>
              </ul>
            </nav>
            <div class="page-count">
              <p>Current page: <span class="list-span" id="current-page">1</span></p>
              <p>Pages available: <span class="list-span" id="pages-number"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6z7kDQmH4z1mt3U9UNJ4-apW6yOM-8g4&callback=initMap" defer></script>
  <script src="/assets/js/home.js"></script>
  <script src="/assets/js/functions.js"></script>
  <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  
</body>
</html>