
:root {
  --base-size: 1.5px;
}

.btn-brown {
  background-color: #694a3e;
  border-color: #694a3e;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #5c4136;
  background-image: -moz-linear-gradient(top left,#694a3e,#49332b);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#694a3e),to(#49332b));
  background-image: -webkit-linear-gradient(top left,#694a3e,#49332b);
  background-image: -o-linear-gradient(top left,#694a3e,#49332b);
  background-image: linear-gradient(top left,#694a3e,#49332b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff694a3e', endColorstr='#ff48332b', GradientType=0);
  border-color: #49332b #49332b #19120f;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  outline: 0;
  color: #fff;
}
.btn-brown:hover,
.btn-brown:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
  outline: 0;
  color: #fff;
}
.btn-brown:hover,
.btn-brown:focus {
  background-color: #49332b;
  outline: 0;
  color: #fff;
}
.btn-brown:active,
.btn-brown.active,
.btn-brown.active:hover {
  background-color: #593f35;
  border-color: #49332b;
  outline: 0;
  color: #fff;
}
.btn-brown.disabled:hover,
.btn-brown.disabled:focus,
.btn-brown.disabled:active,
.btn-brown.disabled.active,
.btn-brown[disabled] .btn-brown:hover,
.btn-brown[disabled] .btn-brown:focus,
.btn-brown[disabled] .btn-brown:active,
.btn-brown[disabled] .btn-brown.active {
  background-color: #694a3e;
  border-color: #694a3e;
  outline: 0;
  color: #fff;
}


* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background: #2b5876;
  background: -webkit-linear-gradient(to left, #2b5876 , #4e4376);
  background: linear-gradient(to left, #2b5876 , #4e4376);
  overflow-x: hidden;
}

#map {
  height: 50vh;
  background: white;
  margin: 5vh 0;
}

.page-count {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.panel-body {
  background: rgba(255, 255,255, .2);
  color: #212121 !important;
}

.form-inline {
  margin-bottom: 2.5vh;
}

.pager > li > a:hover {
  background-color: #49332b;
}

.list-filters > .form-group:last-of-type {
  float: right;
}

@media screen and (max-width: 770px) {
  .list-filters > .form-group:last-of-type {
    float: none;
    margin-top: 1vh;
  }
}

th {
  background-color: #694a3e;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

table th:first-of-type {
  border-top-left-radius: 5px;
}

table th:last-of-type {
  border-top-right-radius: 5px;
}

table tr {
  text-align: center;
}

.adjust-table {
  overflow-x: scroll;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.error-container > h1 {
  margin-top: 10vh;
  font-size: 32px;
}

#follower {
  position: absolute;
  background-color: #255255;
  color: #fff;/*
  height: 55px;*/
  width: 200px;
  transform: translate(602px, 276px);
  transition: .2s all;
  z-index: 1000;
  display: none;
  font-size: 20px;
  border: 1px solid #fff;
}

#follower.visible {
  display: block;
}

#follower p {
  margin: 0;
  margin-left: 5px;
}

#follower p > span {
  color: #fb8c00;
  margin-left: 2.5px;
}

.progress {
  position: absolute;
  margin-top: auto;
  width: 100%;
  height: 5px;
  background-color: #ff0000;
  z-index: 1001;
  display: none;
}

#follower.visible > .progress {
  animation: progress linear infinite;
}


@keyframes progress {
  0% {
    width: 0;
  }
  20% {
    width: 20%;
  }
  40% {
    width: 40%
  }
  60% {
    width: 60%
  }
  80% {
    width: 80%
  }
  95% {
    width: 100%
  }
}

.panel-heading-flex {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif !important;
}

#activate-route-panel {
  cursor: pointer;
}

.routes > .form-group {
  margin: 7.5px 0;
}


.custom-number-input-textbox {
  text-align: center;
  width: 20px;
  height: 38px;
  background-color: white;
  border: 1px solid black;
  border: none;
}

.custom-number-input-textbox:hover,
.custom-number-input-textbox:focus,
.custom-number-input-textbox:active,
.custom-number-input-textbox.active {
  outline: 0;
}

.custom-number-input {
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  
}

.custom-number-input > span {
  width:  40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-number-input > span > i {
  margin-left: 5px;
}

.custom-number-input > span:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(251, 140, 0, 0.8);
}

.custom-number-input > span:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(105, 74, 62, 1);
}

.custom-number-input > span:hover {
  cursor: pointer;
}

.form-inline-submit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2vh;
}

.form-inline-submit * {
  margin-right: 10px;
}

.route-data > p > span {
  color: #fb8c00;
}

.hidden {
  display: none;
}

.loading-animation-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 7.5vh;
  margin-bottom: 2.5vh;
}

@keyframes bounce {
  25% {
    transform: translateY(-25px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}


.loading-animation-container > .dot {
  width: 10px;
  height: 10px;
  background-color: rgba(251, 140, 0, 1); 
  margin: 0 10px 0 0;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loading-animation-container > .dot:nth-child(2) {
  animation-delay: .25s;
}

.loading-animation-container > .dot:nth-child(3) {
  animation-delay: .51s;
}

#received-data {
  margin: 1.5vh 0;
}

.loading-animation-container > .square {
  position: relative;
  height: calc(var(--base-size) * 20);
  width: calc(var(--base-size) * 20);
  margin: 0;
}

.loading-animation-container > .square:not(:first-of-type):before {
  content: "";
  position: absolute;
  width: calc(var(--base-size) * 10);
  height: calc(var(--base-size) * 10);
  bottom: 0;
  left: 0;
  background-color: #ad1457;
  border-radius: 50%;
}

.loading-animation-container > .square:not(:last-of-type):after {
  content: "";
  position: absolute;
  width: calc(var(--base-size) * 10);
  height: calc(var(--base-size) * 10);
  bottom: 0;
  left: calc(var(--base-size) * 10);
  border-radius: 50%;
  background-color: #009688;
}

.loading-animation-container > .square:first-of-type {
  height: calc(var(--base-size) * 40);
  animation: pendul-left;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loading-animation-container > .square:last-of-type {
  height: calc(var(--base-size) * 40);
  animation: pendul-right;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: .75s;
}
  
@keyframes pendul-left {
  25% {
    transform: rotate(120deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(0);
  }
}

@keyframes pendul-right {
  25% {
    transform: rotate(-120deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(0);
  }
}

.form-inline-submit > label {
  padding-top: 7.5px;
}

#charts {
  display: none;
}

#charts.display-charts {
  display: block;
}

.middle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#charts > div > .middle > p > span {
  color: #fb8c00;
}

#chart-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}

#chart-navigation a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  padding: .5em .75em !important;
  margin: 0 5px;
  margin-bottom: 2.5vh;
}

#chart-navigation a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 1);
}

#day-by-day-chart, #overall-chart {
  margin: 2vh 0;
}

#activate-rows-list:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.95); 
}
